* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dedede;
}
header, footer {
    background-color: #333;
    color: white;
    width: 100%;
    height: 50px;            /*height = line-height 垂直居中*/
    line-height: 50px;       /*height = line-height 垂直居中*/
}
header {
    text-align: left;
    text-indent: 2rem;
}
footer {
    text-align: center;  
    position: absolute;
    bottom: 0px;
}
table {
    border-spacing: 15px;
    table-layout: fixed;
    text-align: center;
    height: 100px;
    width: 100%;
}
table td {
    border: 1px solid #ccc;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-style: bold;
}
a:hover {
    color: white;
}

.content {
    margin: 10px;
    background: white;
    padding: 10px;
    box-shadow: 4px 4px lightgrey;
}

.content-header {
    margin: 10px auto;
    background: lightblue;
    color: white;
    font-style: bold;
    font-size: 1.5rem;
    border-radius: 5px;
    text-indent: 1rem;
}

.content-cell {
    vertical-align: middle;
    text-align: center;
}
td:hover {
    background: lightblue;
}