* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #dedede;
}
header, footer {
    background-color: #333;
    width: 100%;
    height: 50px;
}
footer {
    color: white;
    text-align: center;
    
    height: 50px;            /*height = line-height 垂直居中*/
    line-height: 50px;       /*height = line-height 垂直居中*/
}
p {
    text-indent: 2rem;
}
ul a {
    color: white;
}
ul li {
    list-style: none;
}
ol {
    margin-left: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

table,
td,
th {
	border-collapse: collapse;
	border-spacing: 0;
}
table {
    width: 100%;
}
th{
    color: white;
    border: 1px solid #cbcbcb;
    background-color: #333;
    text-align: left;
}
.disp-table tr:last-child{
    background-color: #ccc;
}

#logo {
    margin-left: 20px;
    height: 100%;
}

#menu{
    margin-right: 20px;
    float: right;
    display: inline;
    height: 50px;            /*height = line-height 垂直居中*/
    line-height: 50px;       /*height = line-height 垂直居中*/
    
}
#menu li {
    display: inline;
    font-size: 0.8rem;
}
#content {
    margin: 20px 20px;
}
.title1 {
    font-size: 1.5rem;
    font-style: bold;
}
.title2 {
    font-size: 1rem;
    color: gray;
}
.title3 {
    font-size: 0.8rem;
    color: gray;
}
.title-border {
    margin: 10px;
    font-size: 1rem;
    font-style: bold;
    border-left: 2px solid #ccc;
    padding-left: 20px;
}
.passage {
    background: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 4px 4px lightgrey;
}
.passage span {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.passage-img {
    margin: 20px 40px;
    height: 200px;
    width: 200px;
    border: 1px solid #cbcbcb;
}
.passage-img img {
    width: 80%;
    height: 80%;
    margin-left: 10px;
}
.tb-text {
    text-align: right;
}
.tb-tip {
    color: gray;
    font-size: 0.8rem;
}
.tb-form td {
    padding: 5px;
}

.tb-desc {
    vertical-align: top;
    text-align: right;
}
textarea {
    height: 100%;
    width: 100%;
}
button {
    width: 100%;
    background-color: blue;
    font-size: 1.5rem;
    color: white;
    border: 2px solid blue;
    border-radius: 10px;
}