* {
    margin: 0;
    padding: 0;
}
body {
    background: #5d5d5d;
}
.task6 {
    width: 980px;
    height: 1390px;
    margin: 20px auto;
    background: white;
}

.header {
    height: 61px;
    width: 100%;
    border-bottom: 2px solid #938e8c;
    position: relative;
}
.header-logo {
    width: 110px;
    height: 100%;
    background:#d55d5c;
    font-family: '黑体';
    font-size:12px;
    color: #ffffff;
    position: relative;
}
.header-logo p {
    position: absolute;
    left: 0;
    bottom: 0;    
}
.header > p {
    color: #d45d5c;
    font-size: 12px;
    font-family: '黑体';
    position: absolute;
    bottom: 0;
    right: 0;
}
.top-container {
    margin: 40px 0;
    position: relative;
}
.top-page-info {
    width: 203px;
    border-top: 2px solid #cc8091;
    position: relative;
    float: right;
}
.top-page-title {
    font-family: '微软雅黑';
    font-size: 24px;
    color: #000;
    text-decoration: underline;
    line-height: 40px;
    text-transform: capitalize; /*关键属性，解决首字变大后，下划线变粗问题*/
}
.top-page-title-tr {
    font-variant: small-caps; /*关键属性，解决首字变大后，下划线变粗问题*/
}
/*
.top-page-title::first-letter {
    font-size:36px;
}*/
.top-page-subtitle {
    font-family: '楷体';
    font-size: 12px;
    color: #676767;
    line-height: 10px;
}

.top-page-h1 {
    font-family: '微软雅黑';
    font-size: 100px;
    color: #75b86b;
    font-style: italic;
}
.top-page-h2 {
    font-family: '微软雅黑';
    font-size: 55px;
    color: #cc8091;  
    position: relative;
    float:left;
}
.top-page-h3 {
    display: inline-block;
    padding-top: 16px;
}
.top-page-h3-1 {
    font-family: '微软雅黑';
    font-size: 21px;
    color: #cc8091; 
}
.top-page-h3-2 {
    font-family: '微软雅黑';
    font-size: 12px;
    color: #cc8091;   
}

.top-img {
    position: relative;
}
.top-page-img {
    width: 641px;
    height: 301px;
}
.top-page-img img {
    width: 641px;
    height: 301px;
}
.top-page-bg1 {
    height: 301px;
    width: 191px;
    background: #9bbea0;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
}
.top-page-bg2 {
    height: 301px;
    width: 191px;
    background: #e4b7e6;
    opacity: 0.3;
    position: absolute;
    right:  0;
    bottom: 0;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
table td {
    padding: 10px;
}
.top-page-cont {
    margin-right: 220px;
}
.top-page-title {
    font-size: 16px;
    font-style: bold;
    text-decoration: underline;
}
.top-title-what {
    color: #458b57;
}
.top-title-when {
    color: #d2994f;
}
.top-title-how {
    color: #cc7680;
}
.top-page-msg-info {
    color: #231835;
    line-height: 16px;
    font-size: 12px;
    opacity: .7;
}

.bottom-container {
    position: relative;
    overflow: auto;
    border: 1px solid blue;
}
.bottom-left-container {
    position: relative;
    margin-right: 480px;
    border: 1px solid blue;
}
.bottom-right-container {
    width: 458px;
    position: relative;
    float: right;
    border: 1px solid blue;
}
.bottom-page-img {
    position: relative;
}
.bottom-page-img img {
    width: 458px;
    height: 275px;
}
.bottom-page-img-info {
    width: 458px;
    height: 61px;
    position: absolute;
    left: 0;
    bottom: 0;
    background:#000;
    opacity: 0.9;
}
.bottom-page-img-info-1 {
    margin-top: 10px;  
    margin-left: 40px;
    padding-left: 20px;
    height: 44px;
    font-size: 26px;
    color: #ffffff;
    font-family: '微软雅黑';
    border-left: 3px solid #72b16a;
    display: inline-block;
}
.bottom-page-img-info-2 {
    height: 44px;
    font-size: 12px;
    color: #72b16a;
    font-family: '微软雅黑';
    font-style: italic;
    display: inline-block;
}
.bottom-page-menu {
    width: 459px;
    height: 318px;
    background: #eeeed6;
}

.up-triggle {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom:  8px solid #0f4573;
    display: inline-block;
}
.bottom-page-menu p {
    font-size: 20px;
    font-family: '微软雅黑';
    display: inline-block;

}

.bottom-page-menu p i {
    font-size: 12px;
    font-family: '微软雅黑';
}
.bottom-page-m {
    padding: 20px 10px 10px 10px;;
    text-align: right;
    line-height: 20px;
}
.bottom-page-h1 {
    height: 160px;
    width: 260px;;
    background: #d45d5c;
    border: 2px solid #ffffff;
}
.bottom-page-h1 {
    position: relative;
    float:left;
}
.btm-left {
    position: relative;
    float: left;
}
.bottom-page-h1-1 {
    font-size: 110px;
    color: #ffffff;
    display: inline-block;
}
.bottom-page-h1-sep {
    width: 2px;
    height: 86px;
    background: #ffffff;
    display: inline-block;
}
.bottom-page-h1-2-1 {
    padding-left: 5px;
    font-size: 21px;
    line-height: 24px;
    color: #ffffff;
    font-style: italic;
    font-family: '黑体';
    display: inline-block;
}
.bottom-page-h1-2-2 {
    font-size: 12px;
    color: #ffffff;
    font-style: italic;
    font-family: '黑体';
    display: inline-block;
}
.bottom-page-h2 {
    display: inline-block;
}
.footer {
    width: 100%;
    border-top: 1px solid #938e8c;
    text-align: right;
    font-size: 12px;
    font-family: '黑体';
    color: #d45d5c;
}