* {
    margin: 0px;
    padding: 0px;
}

[class*="col-"] {
    flex: 1;
}


.row {
    display: flex;
    flex-wrap: wrap;
}
.cont {
    margin: 10px;
    height: 50px;
    border: 1px solid #999;
    background-color: #eee;
}

@media(min-width: 768px) {
    .col-md-12 {
        flex: 0 0 100%;
    }
    .col-md-11 {
        flex: 0 0 91.666666%;
    }
    .col-md-10 {
        flex: 0 0 83.333333%;
    }
    .col-md-9 {
        flex: 0 0 75%;
    }
    .col-md-8 {
        flex: 0 0 66.666666%;
    }
    .col-md-7 {
        flex: 0 0 58.333333%;
    }
    .col-md-6 {
        flex: 0 0 50%;
    }
    .col-md-5 {
        flex: 0 0 41.666666%;
    }
    .col-md-4 {
        flex: 0 0 33.333333%;
    }
    .col-md-3 {
        flex: 0 0 25%;
    }
    .col-md-2 {
        flex: 0 0 16.666666%;
    }
    .col-md-1 {
        flex: 0 0 8.333333%;
    }
}

@media(max-width: 768px) {
    .col-sm-12 {
        flex: 0 0 100%;
    }
    .col-sm-11 {
        flex: 0 0 91.666666%;
    }
    .col-sm-10 {
        flex: 0 0 83.333333%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
    }
    .col-sm-8 {
        flex: 0 0 66.666666%;
    }
    .col-sm-7 {
        flex: 0 0 58.333333%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
    }
    .col-sm-5 {
        flex: 0 0 41.666666%;
    }
    .col-sm-4 {
        flex: 0 0 33.333333%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
    }
    .col-sm-2 {
        flex: 0 0 16.666666%;
    }
    .col-sm-1 {
        flex: 0 0 8.333333%;
    }
}